.app__container {
    background-color: #d3e6f7;
    height: 100%;
    padding-bottom: 40px;
}

.app__content {
    padding-top: 40px;
}

.stamp-choose {
    background-color: #fff;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100%;
    padding-top: 20px;
}

.stamp-list {
    padding:0 0 8px 0;
    list-style: none;
    margin-bottom: 0;
}

.stamp-item {
    position: relative;
    padding: 10px 0;
}

.stamp-item:first-child::before {
    display: none;
}

.stamp-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    border-top: 1px solid #e1e1e1;
}

.stamp-item__link {
    position: relative;
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 6px 20px;
    display: block;
}

.stamp-item__link:hover {
    color: var(--primary-color);
}

.select-part {
    font-size: 20px;
    text-align: center;
    list-style-type: none;
    font-family: JosefinSans;
    font-weight: 200;
    padding: 0;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.select-item {
    padding: 5px 0px;
    width:fit-content;
}

.select-item:hover {
    cursor: pointer;
}


.select-part__link {
    color: #000;
    text-decoration: none;
}

.info {
    background-color: #fff;
    padding-top: 40px;
    border-radius: 20px;
    overflow: hidden;
}

.info-header {
    font-family: JosefinSans;
    font-size: 26px;
}

.info-text {
    text-decoration: none;
    font-weight: 100;
    font-size: 20px;
}

.bolder {
    font-weight: 600;
}

@font-face {
    font-family: JosefinSans;
    src: url(../fonts/JosefinSans-VariableFont_wght.ttf);
}

.info-part {
  margin-top: 70px;
  margin-left: 7%;
  margin-right: 7%;
}

.info__header {
    font-family: JosefinSans;
    font-weight: 800;
    font-size: 38px;
    text-shadow: 2px 2px #00000036;
    color: #286AA3;
}

.blue-background {
    background-color: rgba(110, 172, 227, 0.3)
}

.mark-decor {
    font-family: 'Times New Roman', Times, serif;
}

.alignleft {
    text-align: left;
}

.text-content {
    margin-top: 16px;
}

.info-rule {
    margin-left: 3%;
    margin-right: 3%;
}

.rule-title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
    line-height: 50px;
    border-bottom: 3px solid #000;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

/* .rule-title::after {
    content: "";
    position: absolute;
    top: 40px;
    left: 20%;
    right: 20%;
    border-top: 3px solid #000;
} */

.padding-rule {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;
}


.footer {
    padding-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fff;
}

.time-remain {
    font-family: JosefinSans;
    font-size: 32px;
    font-weight: 600;
}

.color-1 {
    color: #286AA3;
}

.color-2 {
    color: #6EACE3;
}

.time-number {
    font-family: JosefinSans;
    font-size: 60px;
}

.time-text {
    font-family: JosefinSans;
    font-size: 40px;
}

.countdown-container {
    margin-left: 10%;
    margin-right: 10%;
}

.countdown-button {
    font-family: JosefinSans;
    display: inline-block;
    padding: 20px;
    padding-top: 30px;
    font-size: 40px;
    font-weight: bold;
    background-color: #fff;
    color: #286AA3;
    border-color: #286AA3;
    border-style: solid;
    border-width: 5px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.countdown-button:hover {
    background-color: #286AA3;
    color:white
}