:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: rgba(110, 172, 227, 0.3);
    --border-color: #dbdbdb;
    --star-gold-color: #ffce3e;

    --navbar-height: 34px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height))
}

* {
    box-sizing: inherit;
}

.grid {
    width: 98%;
    max-width: 100%;
    margin: 0 auto;
}

.grid__row {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-2 {
    /* margin-left: 20px;
    margin-right: 20px; */
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-10 {
    /* margin-left: 20px;
    margin-right: 20px; */
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

.grid__column-3 {
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
}

.grid__column-6 {
    margin: 10px;
    border-radius: 10px;
    padding: 10px 10px 20px 10px;
    width: 50%;
}

.grid__column-12 {
    width: 100%;
}

.italic {
    font-style: italic;
}

.display-none {
    display: none !important;
}

.blue-text {
    color: #286AA3 !important;
}