/* CSS cho trang chủ */
.contest-container {
    display :flex;
    flex-direction: row;
    margin-top:150px;
    margin-left:40px;
    width:70%;
    height: 559px;
}

.stamp-frame {
    
    height:559x;
    width:449px;
}
.contest-info-container
{
    margin-top:10px;
    display :flex;
    flex-direction: column;
    width:80%;
}
.contest-name-container {
    margin-left:40px;
    display :flex;
    flex-direction: row;
    margin-right: 50px;
}
.contest-ranking-info {
    display: flex;
    flex-direction: row;
    margin-right:100px;
}
.contest-ranking-container
{
    margin-left:40px;
    display: flex;
    flex-direction: row;
    width:100%;
}
.contest-descritption-container
{
    margin-left:40px;
    display: flex;
    flex-direction: column;
    height:100%;
}
.contest-description
{
     width:100%;
     text-align: justify;
}
.contest-description-content
{
     text-align: justify;
}

p {
    font-family: "JosefinSans";
    font-size:35px;
    color:black;
    padding-right:20px;
    font-weight: 500;
    padding-left: 0; 
}
/* CSS Popup chỉnh sửa */
 .popup-modal {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index:2;
 }
.popup-container {
    position:relative;
    background-color: #fff;
    width:50%;
    height:93%;
    border:1px solid black;
    margin: 0 auto; /* Để căn giữa theo chiều ngang */
    margin-top:2%;
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    border-radius:28px;
}
.popup-container .stamp-frame {
    width:357px;
    height:408px;
}
h4
{
    margin-top: 40px;
    font-size: 40px;
    font-weight:600;
    line-height:40px;
    margin-bottom:40px;
}
.button-modify-container
{
    display:flex;
    flex-direction: row;
    margin-top:10px;
    justify-content: space-between;
    height:63px;
    padding: 0 40px 0 40px;
} 
.edit-button
{
    width:194px;
    height: 63px;
    border-radius:30px;
    font-size:32px;
    line-height:32px;
    font-weight:500;
    color:#fff;
    background:#4285F4;
    border:none;
}
 .delete-button
{
    width:194px;
    height: 63px;
    border-radius:30px;
    font-size:32px;
    line-height:32px;
    font-weight:500;
    color:#fff;
    background:#EA4335;
    border:none;
}
.edit-button,.delete-button
{
    transition: opacity 0.3s ease; 
}
.edit-button:hover,
.delete-button:hover {
    opacity: 0.7;
}
.exit-modify-button {
    position: absolute;
    top: 10px; /* Đặt vị trí top tùy ý để đặt nút "X" ở góc trên cùng bên phải của form */
    right: 10px; /* Đặt vị trí right tùy ý để đặt nút "X" ở góc trên cùng bên phải của form */
    width: 45px; /* Đặt chiều rộng của nút "X" */
    height: 45px; /* Đặt chiều cao của nút "X" */
    background-color: transparent; /* Loại bỏ màu nền của nút "X" */
    border: none; /* Loại bỏ đường viền của nút "X" */
    cursor: pointer; /* Biểu tượng con trỏ khi di chuột qua nút "X" */
    color:#fff;
}
.exit-modify-icon {
    display: block;
    width: 100%;
    height: 100%;
    border:none;
    border-radius: 50%; /* Tạo hình tròn cho nút "X" */
    text-align: center;
    line-height: 50px; /* Để chữ "X" nằm giữa nút "X" */
    color: #fff; /* Màu của chữ "X" */
    font-weight: bold;
    font-size: 30px;
    transition: color 0.3s;
    background:#EA4335; 
    transition: opacity 0.3s ease; 
}
.exit-modify-icon:hover {
    opacity: 0.7;
}
.exit-caution-button {
    position:absolute;
    top: 5px; /* Đặt vị trí top tùy ý để đặt nút "X" ở góc trên cùng bên phải của form */
    left:95%; /* Đặt vị trí right tùy ý để đặt nút "X" ở góc trên cùng bên phải của form */
    width: 10px; /* Đặt chiều rộng của nút "X" */
    height: 10px; /* Đặt chiều cao của nút "X" */
    background-color: transparent; /* Loại bỏ màu nền của nút "X" */
    border: none; /* Loại bỏ đường viền của nút "X" */
    cursor: pointer; /* Biểu tượng con trỏ khi di chuột qua nút "X" */
    color:#fff;
} 
.exit-caution-icon {
    display: block;
    width:35px;
    height:35px;
    border:none;
    border-radius: 50%;
    text-align: center;
    line-height: 40px; 
    color: #fff; 
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s;
    background:#EA4335; 
    transition: opacity 0.3s ease; 
}
.exit-caution-icon:hover {
    opacity: 0.7;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Màu nền mờ với độ mờ 70% */
    z-index: 1; /* Độ ưu tiên thấp của lớp mờ */
}
    .delete-popup
{
    position:fixed;
    top: 50%;
    display:none;
    z-index:3;
    top:35%;
    left:20%;
    height:200px;
    width:60%;
    border-radius:28px;
    background:#fff;
    border:1px solid black;
}
.edit-popup
{
    position:fixed;
    top: 50%;
    display:none;
    z-index:3;/* Độ ưu tiên lớn hơn so với popup chỉnh sửa tác phẩm  */
    top:35%;
    left:20%;
    height:200px;
    width:60%;
    border-radius:28px;
    background:#fff;
    border:1px solid black;
}
.notify
{
    margin-top:-15px;
    font-size:20px;
}
.edit-popup button,
.delete-popup button 
{
    width:99px;
    height:36px;
    border-radius:10px;
    transition: opacity 0.3s ease; 
}
.edit-popup button:hover,
.delete-popup button:hover {
    opacity: 0.7;
}
.caution
{
margin-top:30px;
}
    .button-caution-container
{
    margin-top:30px;
    display: flex;
    justify-content: center; 
}
.yes-button
{
    background:#4285F4;
    color:#fff;
    border:none;
    margin-right:10%;
}
.home-button
{
    background: #286AA3;
    color: #fff;
}