.custom-form {
    margin-top:70px;
    width: 500px;
  height: 300px;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #000;
  background-color: #fff;
  border-radius: 10px;
  display:none;
  z-index: 900;
}
.login-form {
    position: absolute;
    height: 200px;
  background-color: #C4C4C4;
  border-radius: 10px;
}


.close-button {
  position: absolute;
  top: 10px; /* Đặt vị trí top tùy ý để đặt nút "X" ở góc trên cùng bên phải của form */
  right: 10px; /* Đặt vị trí right tùy ý để đặt nút "X" ở góc trên cùng bên phải của form */
  width: 30px; /* Đặt chiều rộng của nút "X" */
  height: 30px; /* Đặt chiều cao của nút "X" */
  background-color: transparent; /* Loại bỏ màu nền của nút "X" */
  border: none; /* Loại bỏ đường viền của nút "X" */
  cursor: pointer; /* Biểu tượng con trỏ khi di chuột qua nút "X" */
}
.close-icon {
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid #292D32; /* Màu đường viền vòng tròn */
  border-radius: 50%; /* Tạo hình tròn cho nút "X" */
  text-align: center;
  line-height: 25px; /* Để chữ "X" nằm giữa nút "X" */
  color: #292D32; /* Màu của chữ "X" */
  font-weight: bold;
  font-size: 15px;
  transition: color 0.3s;
}
.close-button:hover .close-icon {
  background:#EA4335; /* Màu chữ đỏ khi di chuột vào */
}
.google-button {
  margin-top:250px;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #fff; /* Đặt màu nền của nút */
  border: 2px solid #4285f4; /* Đặt viền màu xanh */
  color: #4285f4; /* Đặt màu chữ là xanh */
  cursor: pointer;
  padding: 10px 20px; /* Đặt khoảng cách bên trong nút */
  font-size: 18px; /* Đặt kích thước chữ */
  border-radius: 4px; /* Đặt bán kính viền */
  font-family:'Josefin Sans';
  width:280px;
}

.login-notice
{
  font-family: 'Josefin Sans';
  margin-top: 40px; /* Đặt giá trị margin-top là 20px */
  font-size: 28px;
}
.notice
{
    font-family: 'Josefin Sans';
  margin-top: 40px; /* Đặt giá trị margin-top là 20px */
  font-weight: 500;
  margin-top: 35px;
}
.google-icon {
  font-weight: bold; /* Tạo chữ đậm */
}
.login-button {
  width:150px;
  border-radius: 30px; /* Đặt bán kính viền */
  border: 2px solid #286AA3; 
  background: #fff;  
  color:#286AA3; ;
  padding:5px;
  transition: color 0.3s ease-in-out; /* Hiệu ứng chuyển đổi màu chữ */
}
.login-button:hover {
  /* Thiết lập màu nền và màu chữ khi hover */
  background-color:#286AA3; /* Màu nền khi hover */
  color:#fff;  /* Màu chữ khi hover*/
}
/* Reponsive */
@media (min-width:281px) and (max-width: 500px) {
  .custom-form {
     width:300px;
     height:260px;
  }
  .login-notice
  {
    font-size:20px;
  }
  .notice
  {
    font-size:18px;
    margin-top:35px;
  }
  .google-button
  {
    font-size:15px;
    margin-top:220px;
    width:200px;
  }
  .login-form
  {
    height:180px;
  }
  .close-button
  {
    width: 20px; /* Đặt chiều rộng của nút "X" */
    height: 20px; /* Đặt chiều cao của nút "X" */
  }
  .close-icon {
    line-height: 17px;
    font-size:12px;
  }
  .login-button
  {
    width: 80px;
  }

}

@media (max-width:280px) {
  .custom-form {
     width:240px;
     height:220px;
  }
  .login-notice
  {
    font-size:18px;
  }
  .notice
  {
    font-size:16px;
    margin-top:30px;
  }
  .google-button
  {
    font-size:12px;
    margin-top:190px;
    width:160px;
  }
  .login-form
  {
    height:160px;
  }
  .close-button
  {
    width: 15px; /* Đặt chiều rộng của nút "X" */
    height: 15px; /* Đặt chiều cao của nút "X" */
  }
  .close-icon {
    line-height: 13px;
    font-size:10px;
  }
  .login-button
  {
    width: 60px;
  }

}