@font-face {
    font-family: JosefinSans;
    src: url(../fonts/JosefinSans-VariableFont_wght.ttf);
}

.banner {
    height: 680px;
    background-color: #e5e5e5;
    background-size: cover;
    background-position: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {

    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px #000;
}

.top-stamps {
    display: flex;
    justify-content: space-around;

    margin-top: 55px;
}

.stamp-box {
    height: 544px;
    border-radius: 10px;
    border: 3px solid #000;
    background: #FFF;
    overflow: hidden;
    margin-top: 40px;
    position: relative;
}

.stamp-top-info {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.stamp-name {
    width: 55%;
    margin-left: 5%;
    margin-bottom: 0;

    font-size: 1.55vw;
    font-weight: 600;
    text-align: left;
    font-family: JosefinSans;
}

@media only screen and (max-width: 768px) {
    .stamp-name {
        font-size: 4.7vw;
    }
}

.stamp-author {
    width: 35%;
    font-family: JosefinSans;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    font-size: 1.4vw;
    font-weight: 300;
}

@media only screen and (max-width: 768px) {
    .stamp-author {
        font-size: 4.1vw;
    }
}

/* .stamp {
    padding: 10px;

    position: relative;
    text-align: center;
    -webkit-filter: drop-shadow(0px 0px 1px rgba(0,0,0,1));
    background: radial-gradient( transparent 0px, transparent 4px, white 4px, white );
    background-size: 20px 20px;
    background-position: -10px -10px;

    overflow: hidden;
    margin: 0 auto;
} */

.info-card {
    border-radius: 20px;
    background-color: white;
    border: 5px solid black;
    max-width: 24%;
    padding-bottom: 50px;
}

.info-card:hover {
    cursor: pointer;
}

.stamp {
    width: 70%;
}

.cus-card-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.cus-card-title {
    font-size: 24px;
    max-width: 50%;
    text-align: left;
}

.cus-card-author {
    font-size: 20px;
    max-width: 50%;
    text-align: left;
}

.cus-card-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.clickable {
    cursor: pointer;
}

.like-btn {
    display: flex;
    justify-content: space-around;

    width: 30%;
    border: none;

    border-radius: 15px;
    background: var(--vng, #E8AA42);
    padding: 10px;
}

.stt-btn {
    width: 30%;
    display: flex;
    align-items: center;

    border-radius: 15px;
    background: var(--xanh-l, #34A853);
    padding: 10px;
}

.number {
    font-size: 2.0vw;
    font-weight: 500;
    font-family: JosefinSans;
}

@media only screen and (max-width: 768px) {
    .number {
        font-size: 5.5vw;
    }
}

.like-number {
    width: 20%;
    margin: auto 0;
}

.like-image {
    width: 22%;
    margin: auto 0;
}

.stt-number {
    width: 100%;
    margin: auto 0;
    text-align: center;
}

#popup {
    display: flex;
    border: 2px solid black;
    border-radius: 30px;
    width: 40%;
    min-width: 400px;
    position: fixed;
    background-color: white;
    height: 600px;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#popup>.row {
    width: 100%;
}

.popup-img {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-info {
    padding: 30px 0;
}

.popup-title {
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
}

.popup-author {
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    text-align: left;
    margin-top: 20px;
}

.popup-describe {
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    margin-top: 20px;
    text-align: left;
}

.stamp-top-img-container {
    margin-top: 10px;
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contest-container {
    width: 80%;
    height: 170px;
    padding-left: 30px;
    padding-right: 60px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px !important;
    border: 5px solid #6EACE3 !important;

    display: flex !important;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    .contest-container {
        height: 20vw;
        margin: 6vw auto;
    }
}

.stt-contest-box {
    margin: auto 0;
    width: 7%;
    background-color: none;
    text-align: center;
    font-size: 3.0vw;
    font-weight: 700;
    color: #286AA3;
}

@media only screen and (max-width: 768px) {
    .stt-contest-box {
        font-size: 4.1vw;
    }
}

.contest-name {
    margin: auto 0;
    width: 42%;
    text-align: center;
    overflow: auto;
    color: #000;
    font-size: 2.4vw;
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
    .contest-name {
        width: 39%;
        font-size: 3.8vw;
    }
}

.contest-author {
    width: 25%;
    margin: auto 0;
    color: #000;
    text-align: center;
    font-size: 2.0vw;
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
    .contest-author {
        width: 22%;
        font-size: 3.4vw;
    }
}

.contest-like-box {
    width: 10%;
    height: 40%;
    margin: auto 0;
    background-color: #d9d9d9;
}

@media only screen and (max-width: 768px) {
    .contest-like-box {
        width: 15%;
        height: 60%;
        margin: auto 0;
    }
}

@media only screen and (max-width: 768px) {
    .contest-like-number{
        font-size: 3.5vw;
    }
}

#more {
    display: none;
}

.readMoreBtn {
    margin: 0 auto;
    width: 15%;
    height: 4vw;
    background-color: #b8b3b3;
    border-radius: 15px !important;
    border: 2px solid black;
}

@media only screen and (max-width: 768px) {
    .readMoreBtn {
        width: 35%;
        height: 10vw;
    }
}

.readMoreBtnContent {
    margin: auto 0;
    font-size: 1.6vw;
    font-weight: 600;
}

@media only screen and (max-width: 768px) {
    .readMoreBtnContent {
        font-size: 3.5vw;
    }
}
