.banner-container {
    max-height: 500px;
    min-height: 200px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
.stamplogo {
    width: 30%;
    height: 80%;
    margin: auto;
} */

.stamp-name {
    margin: 10px auto 50px auto;
}

.like-btn {
    width: 60%;
    display:inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EA4335;
    padding: 20px;
    border-radius: 15px;
    border: none;
    height: 100%;
    min-width: 100px;
}

.like-number {
    font-size: 20px;
    font-weight: 300;
    color: white;
    margin-bottom: 0;
}

.link-btn {
    width: 60%;
    background-color: #E57C23;
    padding: 20px;
    height: 100%;
    border-radius: 15px;
    min-width: 100px;
    border: none;
}

.facebook-btn {
    width: 60%;
    background-color: #4285F4;
    padding: 20px;
    height: 100%;
    border-radius: 15px;
    min-width: 100px;
    border: none;
}

#popup {
    /* display: flex; */
    background-color: white;
    position: fixed;
    border: 2px solid black;
    border-radius: 30px;
    width: 40%;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#popup p {
    text-align: left;
}

#popup>.row {
    margin: 20px 20px;
}

.submission-info> * {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 20px;
}

.submission-box:hover {
    cursor: pointer;
}

.submission-box {
    width: 90%;
    margin: 0 auto;
}

.horizontal-scrollable > .row {
    overflow-x: auto;
    white-space: nowrap;
}


#pagination {
    margin: 0 auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.number_btns {
    display: flex;
    border: 2px solid black;
    border-radius: 20px;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.number_btns > div {
    width: 14%;
    max-width: 100px;
    height: 100px;
    text-align: center;
    font-size: 70px;
    padding-top: 20px;
}

.number_btns > div:hover {
    cursor: pointer;
}

.disable_btn {
    cursor: default !important;
}

.current_btn {
    border-radius: 20px;
    background-color: #286AA3;
    color: white;
}

.pag_btn {
    width: 100px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 80px;
    height: 100px;
}

.pag_btn:hover {
    cursor: pointer;
}