@page
@model VotingModel
@{
    ViewData["Title"] = "Xếp hạng";
}

<html lang="vi">
    <head>
        <meta charset="utf-8" name="viewport" content="device-width, initial-scale=1, minimum-scale=1"/>
        <link rel="stylesheet" href="~/css/ranking-style.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/searchbar-style.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/base.css" asp-append-version="true"/>
    </head>

    <body>
        <!-- Banner -->
        <div class="banner">
            <h1 class="josefinsans-font">XẾP HẠNG</h1>
        </div>
        
            <!-- Top stamps -->
        <div class="container-fluid part-margin">
            <div class="row justify-content-around">
                <div class="col-4 info-card" onclick="showPopUp()">
                    <div class="cus-card-header">
                        <p class="cus-card-title">Mừng ngày Phụ nữ Việt Nam 20/10</p>
                        <p class="cus-card-author">Đ.M.Khoa</p>
                    </div>
                    <div class="cus-card-img">
                        <img class="stamp" src="~/image/Ranking/stamp.png"/>
                    </div>
                    <div class="cus-card-footer">
                        <button onclick="changeBackgroundColor()" class="like-btn">
                            <p class="like-number number">00</p>
                            <img class="like-image" src="~/image/Ranking/like.svg"/>
                        </button>
                        <div class="stt-btn">
                            <p class="number stt-number">#02</p>
                        </div>
                    </div>
                </div>

                <div class="col-4 info-card" onclick="showPopUp()">
                    <div class="cus-card-header">
                        <p class="cus-card-title">Mừng ngày Phụ nữ Việt Nam 20/10</p>
                        <p class="cus-card-author">Đ.M.Khoa</p>
                    </div>
                    <div class="cus-card-img">
                        <img class="stamp" src="~/image/Ranking/stamp.png"/>
                    </div>
                    <div class="cus-card-footer">
                        <button onclick="changeBackgroundColor()" class="like-btn">
                            <p class="like-number number">01</p>
                            <img class="like-image" src="~/image/Ranking/like.svg"/>
                        </button>
                        <div class="stt-btn">
                            <p class="number stt-number">#01</p>
                        </div>
                    </div>
                </div>

                <div class="col-4 info-card" onclick="showPopUp()">
                    <div class="cus-card-header">
                        <p class="cus-card-title">Mừng ngày Phụ nữ Việt Nam 20/10</p>
                        <p class="cus-card-author">Đ.M.Khoa</p>
                    </div>
                    <div class="cus-card-img">
                        <img class="stamp" src="~/image/Ranking/stamp.png"/>
                    </div>
                    <div class="cus-card-footer">
                        <button onclick="changeBackgroundColor()" class="like-btn">
                            <p class="like-number number">00</p>
                            <img class="like-image" src="~/image/Ranking/like.svg"/>
                        </button>
                        <div class="stt-btn">
                            <p class="number stt-number">#02</p>
                        </div>
                    </div>
                </div>
                <div class="container-fluid justify-content-center display-none" id="popup">
                    <div class="row">
                        <div class="col-6 popup-img">
                            <img class="" src="~/image/Ranking/stamp.png"/>
                        </div>
                        <div class="col-6 popup-info">
                            <div class="popup-title">Hello</div>
                            <div class="popup-author">Author</div>
                            <div class="popup-describe">Describe</div>
                        </div>
                    </div>
                </div>
                <div id="overlay" class="display-none" onclick="hidePopUp()"></div>
                <script>
                    showPopUp = () => {
                        const title = event.currentTarget.querySelector(".cus-card-title");
                        const author = event.currentTarget.querySelector(".cus-card-author");
                        const popup = document.getElementById("popup");
                        const ptitle = popup.getElementsByClassName("popup-title")[0];
                        ptitle.innerText = title.innerText;
                        popup.getElementsByClassName("popup-author")[0].innerText = author.innerText;
                        @* Load mô tả từ backend vào dòng bên dưới *@
                        popup.getElementsByClassName("popup-describe")[0].innerText = "Mô tả của tranh";
                        popup.classList.remove("display-none");
                        const overlay = document.getElementById("overlay");
                        overlay.classList.remove("display-none");
                        const body = document.querySelector("body");
                        body.style.overflow = "hidden";
                    }
                    hidePopUp = () => {
                        const popup = document.getElementById("popup");
                        popup.classList.add("display-none");
                        const overlay = document.getElementById("overlay");
                        overlay.classList.add("display-none");
                        const body = document.querySelector("body");
                        body.style.overflow = "auto";
                    }
                </script>
            </div>
        </div>

        <!-- Search bar -->
        <div class="search-box">
            <div class="search">
                <button class="search-btn" onclick="">
                    <img class="search-img" src="~/image/Ranking/search-normal.png"/>
                </button>
                <input type="text" id="trigger" class="search-input" placeholder="Tìm kiếm"/>
            </div>
        </div>
       

        <!-- Contest Stamps -->
        <div class="big-space list-group">
            <div class="contest-container list-group-item">
                <p class="stt-contest-box">#01</p>
                <p class="contest-name">Mừng ngày Phụ nữ Việt Nam</p>
                <p class="contest-author stamp-author">Đoàn Minh Khoa</p>
                <button onclick="changeBGandFont()" class="contest-like-box like-btn">
                    <p class="contest-like-number like-number number">00</p>
                    <img class="like-image" src="~/image/Ranking/like.svg"/>
                </button>
            </div>

            <div class="contest-container list-group-item">
                <p class="stt-contest-box">#02</p>
                <p class="contest-name">Mừng ngày Phụ nữ Việt Nam</p>
                <p class="contest-author stamp-author">Đoàn Minh Khoa</p>
                <button onclick="changeBGandFont()" class="contest-like-box like-btn">
                    <p class="contest-like-number like-number number">01</p>
                    <img class="like-image" src="~/image/Ranking/like.svg"/>
                </button>
            </div>

            <div class="contest-container list-group-item">
                <p class="stt-contest-box">#03</p>
                <p class="contest-name">Mừng ngày Phụ nữ Việt Nam</p>
                <p class="contest-author stamp-author">Đoàn Minh Khoa</p>
                <button onclick="changeBGandFont()" class="contest-like-box like-btn">
                    <p class="contest-like-number like-number number">00</p>
                    <img class="like-image" src="~/image/Ranking/like.svg" />
                </button>
            </div>

            <div class="contest-container list-group-item">
                <p class="stt-contest-box">#04</p>
                <p class="contest-name">Mừng ngày Phụ nữ Việt Nam</p>
                <p class="contest-author stamp-author">Đoàn Minh Khoa</p>
                <button onclick="changeBGandFont()" class="contest-like-box like-btn">
                    <p class="contest-like-number like-number number">00</p>
                    <img class="like-image" src="~/image/Ranking/like.svg" />
                </button>
            </div>

            <div id="more">
                <div class="contest-container list-group-item">
                    <p class="stt-contest-box">#05</p>
                    <p class="contest-name">Mừng ngày Phụ nữ Việt Nam</p>
                    <p class="contest-author stamp-author">Đoàn Minh Khoa</p>
                    <button onclick="changeBGandFont()" class="contest-like-box like-btn">
                        <p class="contest-like-number like-number number">00</p>
                        <img class="like-image" src="~/image/Ranking/like.svg" />
                    </button>
                </div>

                <div class="contest-container list-group-item">
                    <p class="stt-contest-box">#06</p>
                    <p class="contest-name">Mừng ngày Phụ nữ Việt Nam</p>
                    <p class="contest-author stamp-author">Đoàn Minh Khoa</p>
                    <button onclick="changeBGandFont()" class="contest-like-box like-btn">
                        <p class="contest-like-number like-number number">00</p>
                        <img class="like-image" src="~/image/Ranking/like.svg" />
                    </button>
                </div>
            </div>
            
            <button onclick="getMore()" class="readMoreBtn part-margin">
                <p class="readMoreBtnContent">Xem thêm</p>
            </button>
        </div>
        
        <!-- JavaScript -->
        <script>
            function changeBackgroundColor() {
                event.currentTarget.style.backgroundColor = "#4285F4";
            }

            function changeBGandFont() {
                event.currentTarget.style.backgroundColor = "#4285F4";
                
                const collection = event.currentTarget.children;
                collection[0].style.color = "#FFF";
                collection[0].style.fontWeight = "700";
                collection[1].src = "image/Ranking/like_bold.svg"

                const parent = event.currentTarget.parentElement;
                const siblings = parent.children;
                siblings[1].style.color = "#6EACE3";
            }

            function getMore() {
                var more = document.getElementById("more");
                more.style.display = "block";
                event.currentTarget.style.display = "none";
            }
        </script>
    </body>
</html>