@page
@model VotingModel
@{
    ViewData["Title"] = "Bình Chọn";
}

<header>
    <link rel="stylesheet" href="~/css/voting.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/searchbar-style.css" asp-append-version="true"/>
</header>
<body>
    <script src="~/js/common.js"></script>
    <div class="banner-container grey-background">
        <img class="stamplogo" src="~/image/Voting/stamplogo.png" alt="">
    </div>
    <div class="search-box">
        <div class="search">
            <button class="search-btn" onclick="">
                <img class="search-img" src="~/image/Ranking/search-normal.png"/>
            </button>
            <input type="text" id="trigger" class="search-input" placeholder="Tìm kiếm"/>
        </div>
    </div>
    <h1 class="line-bottom blue-color">Top 20</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 submission-box">
                <div class="stamp-frame">
                    <img src="~/image/stamp.png" alt="" class="stamp-img">
                </div>
                <h2 class="stamp-name">Tên tác phẩm 1</h2>
            </div>
            <div class="col-4">
                <div class="stamp-frame">
                    <img src="~/image/stamp.png" alt="" class="stamp-img">
                </div>
                <h2 class="stamp-name">Tên tác phẩm 2</h2>
            </div>
            <div class="col-4">
                <div class="stamp-frame">
                    <img src="~/image/stamp.png" alt="" class="stamp-img">
                </div>
                <h2 class="stamp-name">Tên tác phẩm 3</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-4 submission-box">
                <div class="stamp-frame">
                    <img src="~/image/stamp.png" alt="" class="stamp-img">
                </div>
                <h2 class="stamp-name">Tên tác phẩm 4</h2>
            </div>
            <div class="col-4">
                <div class="stamp-frame">
                    <img src="~/image/stamp.png" alt="" class="stamp-img">
                </div>
                <h2 class="stamp-name">Tên tác phẩm 5</h2>
            </div>
            <div class="col-4">
                <div class="stamp-frame">
                    <img src="~/image/stamp.png" alt="" class="stamp-img">
                </div>
                <h2 class="stamp-name">Tên tác phẩm 6</h2>
            </div>
        </div>
    </div>
    <h1 class="line-bottom blue-color">S.T.A.M.P 2023</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 submission-box">
                <div class="stamp-frame">
                    <img src="~/image/stamp.png" alt="" class="stamp-img">
                </div>
                <h2 class="stamp-name">Tên tác phẩm 1</h2>
            </div>
            <div class="col-4">
                <div class="stamp-frame">
                    <img src="~/image/stamp.png" alt="" class="stamp-img">
                </div>
                <h2 class="stamp-name">Tên tác phẩm 2</h2>
            </div>
            <div class="col-4">
                <div class="stamp-frame">
                    <img src="~/image/stamp.png" alt="" class="stamp-img">
                </div>
                <h2 class="stamp-name">Tên tác phẩm 3</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-4 submission-box">
                <div class="stamp-frame">
                    <img src="~/image/stamp.png" alt="" class="stamp-img">
                </div>
                <h2 class="stamp-name">Tên tác phẩm 4</h2>
            </div>
            <div class="col-4">
                <div class="stamp-frame">
                    <img src="~/image/stamp.png" alt="" class="stamp-img">
                </div>
                <h2 class="stamp-name">Tên tác phẩm 5</h2>
            </div>
            <div class="col-4">
                <div class="stamp-frame">
                    <img src="~/image/stamp.png" alt="" class="stamp-img">
                </div>
                <h2 class="stamp-name">Tên tác phẩm 6</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-4 submission-box">
                <div class="stamp-frame">
                    <img src="~/image/stamp.png" alt="" class="stamp-img">
                </div>
                <h2 class="stamp-name">Tên tác phẩm 7</h2>
            </div>
            <div class="col-4">
                <div class="stamp-frame">
                    <img src="~/image/stamp.png" alt="" class="stamp-img">
                </div>
                <h2 class="stamp-name">Tên tác phẩm 8</h2>
            </div>
            <div class="col-4">
                <div class="stamp-frame">
                    <img src="~/image/stamp.png" alt="" class="stamp-img">
                </div>
                <h2 class="stamp-name">Tên tác phẩm 9</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-4 submission-box">
                <div class="stamp-frame">
                    <img src="~/image/stamp.png" alt="" class="stamp-img">
                </div>
                <h2 class="stamp-name">Tên tác phẩm 10</h2>
            </div>
            <div class="col-4">
                <div class="stamp-frame">
                    <img src="~/image/stamp.png" alt="" class="stamp-img">
                </div>
                <h2 class="stamp-name">Tên tác phẩm 11</h2>
            </div>
            <div class="col-4">
                <div class="stamp-frame">
                    <img src="~/image/stamp.png" alt="" class="stamp-img">
                </div>
                <h2 class="stamp-name">Tên tác phẩm 12</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-4 submission-box">
                <div class="stamp-frame">
                    <img src="~/image/stamp.png" alt="" class="stamp-img">
                </div>
                <h2 class="stamp-name">Tên tác phẩm 13</h2>
            </div>
            <div class="col-4">
                <div class="stamp-frame">
                    <img src="~/image/stamp.png" alt="" class="stamp-img">
                </div>
                <h2 class="stamp-name">Tên tác phẩm 14</h2>
            </div>
            <div class="col-4">
                <div class="stamp-frame">
                    <img src="~/image/stamp.png" alt="" class="stamp-img">
                </div>
                <h2 class="stamp-name">Tên tác phẩm 15</h2>
            </div>
        </div>
    </div>
    <div id="overlay display-none"></div>
    <div id="popup container">
        <div class="row">
            <div class="col-6">

            </div>
            <div class="col-6">
                <div class="stamp-frame">
                    <img src="~/image/stamp.png" alt="" class="stamp-img">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4"></div>
                        <div class="col-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
