@page
@model VotingModel
@{
    ViewData["Title"] = "Bình Chọn";
}

<header>
    <link rel="stylesheet" href="~/css/voting.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/searchbar-style.css" asp-append-version="true"/>
</header>
<body>
    <script src="~/js/common.js"></script>
    <div class="banner-container grey-background">
        <img class="stamplogo" src="~/image/Voting/stamplogo.png" alt="">
    </div>
    <div class="search-box">
        <div class="search">
            <button class="search-btn" onclick="">
                <img class="search-img" src="~/image/Ranking/search-normal.png"/>
            </button>
            <input type="text" id="trigger" class="search-input" placeholder="Tìm kiếm"/>
        </div>
    </div>
    <h1 class="line-bottom blue-color">Top 20</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4" >
                <div class="submission-box">
                    <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 1</h2>
                </div>
            </div>
            <div class="col-4">
                <div class="submission-box">
                        <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 2</h2>
                </div>
            </div>
            <div class="col-4">
                <div class="submission-box">
                        <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 3</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="submission-box">
                        <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 4</h2>
                </div>
            </div>
            <div class="col-4">
                <div class="submission-box">
                        <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 5</h2>
                </div>
            </div>
            <div class="col-4">
                <div class="submission-box">
                        <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 6</h2>
                </div>
            </div>
        </div>
    </div>
    <h1 class="line-bottom blue-color">S.T.A.M.P 2023</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4" >
                <div class="submission-box">
                    <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 1</h2>
                </div>
            </div>
            <div class="col-4">
                <div class="submission-box">
                        <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 2</h2>
                </div>
            </div>
            <div class="col-4">
                <div class="submission-box">
                        <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 3</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="submission-box">
                        <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 4</h2>
                </div>
            </div>
            <div class="col-4">
                <div class="submission-box">
                        <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 5</h2>
                </div>
            </div>
            <div class="col-4">
                <div class="submission-box">
                        <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 6</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4" >
                <div class="submission-box">
                    <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 1</h2>
                </div>
            </div>
            <div class="col-4">
                <div class="submission-box">
                        <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 2</h2>
                </div>
            </div>
            <div class="col-4">
                <div class="submission-box">
                        <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 3</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="submission-box">
                        <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 4</h2>
                </div>
            </div>
            <div class="col-4">
                <div class="submission-box">
                        <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 5</h2>
                </div>
            </div>
            <div class="col-4">
                <div class="submission-box">
                        <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 6</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4" >
                <div class="submission-box">
                    <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 1</h2>
                </div>
            </div>
            <div class="col-4">
                <div class="submission-box">
                        <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 2</h2>
                </div>
            </div>
            <div class="col-4">
                <div class="submission-box">
                        <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 3</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="submission-box">
                        <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 4</h2>
                </div>
            </div>
            <div class="col-4">
                <div class="submission-box">
                        <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 5</h2>
                </div>
            </div>
            <div class="col-4">
                <div class="submission-box">
                        <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 6</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4" >
                <div class="submission-box">
                    <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 1</h2>
                </div>
            </div>
            <div class="col-4">
                <div class="submission-box">
                        <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 2</h2>
                </div>
            </div>
            <div class="col-4">
                <div class="submission-box">
                        <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 3</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="submission-box">
                        <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 4</h2>
                </div>
            </div>
            <div class="col-4">
                <div class="submission-box">
                        <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 5</h2>
                </div>
            </div>
            <div class="col-4">
                <div class="submission-box">
                        <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 6</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4" >
                <div class="submission-box">
                    <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 1</h2>
                </div>
            </div>
            <div class="col-4">
                <div class="submission-box">
                        <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 2</h2>
                </div>
            </div>
            <div class="col-4">
                <div class="submission-box">
                        <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 3</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="submission-box">
                        <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 4</h2>
                </div>
            </div>
            <div class="col-4">
                <div class="submission-box">
                        <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 5</h2>
                </div>
            </div>
            <div class="col-4">
                <div class="submission-box">
                        <div class="stamp-frame">
                        <img src="~/image/stamp.png" alt="" class="stamp-img">
                    </div>
                    <h2 class="stamp-name">Tên tác phẩm 6</h2>
                </div>
            </div>
        </div>
    </div>
    <div id="overlay" class="display-none"></div>
    <div id="popup" class="container display-none">
        <div class="row">
            <div class="col-6 submission-info">
                <p class="title">Tên tác phẩm</p>
                <p class="author">Tên tác giả</p>
                <p class="description">Mô tả tác phẩm</p>
            </div>
            <div class="col-6">
                <div class="stamp-frame">
                    <img src="~/image/stamp.png" alt="" class="stamp-img">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <button class="like-btn">
                                <p class="like-number">00</p>
                                <img src="~/icon/like.png" alt="" class="like-icon">
                            </button>
                        </div>
                        <div class="col-4">
                            <button class="link-btn">
                                <img src="~/icon/link.png" alt="" class="link-icon">
                            </button>
                        </div>
                        <div class="col-4">
                            <button class="facebook-btn">
                                <img src="~/icon/f.png" alt="" class="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const cards = document.getElementsByClassName("submission-box");
        const popup = document.getElementById("popup");
        const body = document.querySelector("body");
        const overlay = document.getElementById("overlay");
        for (var i = 0; i<cards.length; i++) {
            var card = cards[i];
            card.addEventListener("click", function (){
                var stamp = this.getElementsByClassName("stamp-name")[0];
                var title = stamp.innerText;
                console.log(title);
                popup.classList.remove("display-none");
                var popup_title = popup.getElementsByClassName("title")[0];
                var popup_author = popup.getElementsByClassName("author")[0];
                var popup_description = popup.getElementsByClassName("description")[0];
                console.log(popup_title)
                var popup_frame = popup.getElementsByClassName("stamp-frame")[0];
                
                resize_frame();
                popup_title.innerText = title;
                @* Code để lấy tên tác giả và tác phẩm từ database *@
                popup_author.innerText = "Tên tác giả của tác phẩm "+title;
                popup_description.innerText = "Mô tả của tác phẩm:\n" + title;
                overlay.classList.remove("display-none");
                body.style.overflow = "hidden";
            })
        };
        overlay.addEventListener("click", function() {
            popup.classList.add("display-none");
            overlay.classList.add("display-none");
            body.style.overflow = "auto";
        });
    </script>
</body>
